body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #121212;
    color: white;
}

header {
    background: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 50px;
}

.upload-box {
    border: 2px dashed #888;
    padding: 20px;
    background: #222;
    margin: auto;
    width: 300px;
}

input {
    display: block;
    margin: 10px auto;
}

button {
    background: #27AE60;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #219150;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
